<div class="load">
  <div class="blockcont">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>

    <div class="block"></div>
    <div class="block2">
      <img src="../assets/images/penguin_logo_white.png" class='load-img'>
    </div>
    <div class="block"></div>

    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
  </div>
</div>

<particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
<div class='new-background' [@loaderAnimate]>

  <div class='new-left-bar'>

  </div>
  <div class='contact-us' [@fadeInOut] *ngIf="!contactUS" (click)="contactAnimation()">
    <i class="ion-ios-email-outline"></i>
    &nbsp;contact us
  </div>
  <div class='contact-us2' [@fadeInOut] *ngIf="showUS" (click)="contactAnimation()">
    <i class="ion-android-arrow-back"></i>
    &nbsp;back
  </div>
  <div class="textbox">
    <div class="textbox-inner left-text">
      <div>
        <div class="textbox-inner-heading-text PHD">PENGUIN HOUSE DESIGNS &copy;</div>
      </div>
      <div>
        <img src="../assets/images/penguin_logo_white_small.png" class='penguin_logo_nav' />
      </div>

    </div>
    <div class="textbox-inner">
      <div name='showFalse' [@fadeInOut] *ngIf="!contactUS">
        <div class="textbox-inner-heading">
          <div class="textbox-inner-heading-text">we</div>
          <div class="textbox-inner-heading-text">build</div>
          <div class="textbox-inner-heading-text">software</div>
        </div>
        <div class="textbox-inner-para">
          &nbsp; &nbsp; PHD is a digital consulting firm that specializes in building custom web and mobile
          applications.
          <div class="head">
            <br>
            Your ideas. Precisely built. Creatively designed.
          </div>
        </div>
      </div>
      <div name='showFalse' [@fadeInOut] *ngIf="contactUS && !showUS && Thanks">
        <div class="textbox-inner-heading">
          <div class="textbox-inner-heading-text">thank you for your inquiry!</div>
        </div>
      </div>
      <div name='showTrue' [@fadeInOut] *ngIf="showUS">
        <div class="textbox-inner-para">
          let's talk!
        </div>
        <div class="textbox-inner-para">
          <input class='contact-inputs' [(ngModel)]="newEmail.name" placeholder="name" type="text">
          <input class='contact-inputs' [(ngModel)]="newEmail.email" placeholder="email" type="text">
          <textarea class='contact-inputs' [(ngModel)]="newEmail.message" placeholder="note" type="text"></textarea>
        </div>
        <br>
        <br>
        <div class="textbox-inner-heading" (click)="contactAnimation2()">
          <div class="textbox-inner-heading-text-2"><i class="ion-paper-airplane"></i>&nbsp;send it</div>
        </div>
      </div>

    </div>
  </div>

</div>