@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');

.new-background{
    /* background: #050a15; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.new-left-bar{
    /* background: #050a15; */
    height: 20vh;
    display: flex;
    max-width: 100px;
    width: 100px;
}
.bars{
    /* background: #050a15; */
    /* opacity: 0.6; */
    flex: 1;
    box-shadow: inset -4px -4px 5px 0px rgba(0,0,0,0.75);
    border-radius: 0px 0px 11px 0px;
    padding: 1px;
}
.color1{
    background: rgba(10, 20, 41, 0.6);
    height: 14vh;
}
.color2{
    background: rgba(10, 20, 41, 0.6);
    height: 15vh;
}
.color3{
    background: rgba(10, 20, 41, 0.6);
    height: 20vh;
}

.PHD-text{
    width: 100%;
    height: 23%;
    color: white;
    font-size: x-large;
}

.textbox{
    /* background: #050a15; */
    width: 77vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
 
}

.textbox-inner{
    /* background: #050a15; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 40px 20px;
}

.left-text{
    flex-direction: column-reverse;
    justify-content: flex-end;
    color: white;
}

.PHD{
    width: 180px;
    margin-top: 7px; 
}

.textbox-inner-para{
    color: grey;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.penguin_logo_nav {
    margin: 0px;
    width: 70%;
}

.textbox-inner-heading{
    color: white;
    font-size: 2em;
    margin-bottom: 50px;
}

.textbox-inner-heading-text{
    flex: 1;
}

.textbox-inner-heading-text-2{
    cursor: pointer;
    flex: 1;
    font-size: .75em;
}

.contact-us{
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 30vh;
    left: -45px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
}
.contact-us i{
    font-size: 27px;
    margin-right: 3px; 
}
.contact-us2{
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 30vh;
    left: -10px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
}
.contact-us2 i{
    font-size: 27px;
    margin-right: 3px; 
    transform: rotate(90deg);
}

.head{
    color: white;
}

.contact-inputs{
    width: 200px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: rgba(10, 20, 41, 0.6);
    padding: 5px;
    border-radius: 5px;
}



@media only screen and (min-width: 500px) {

    .textbox{
        /* background: #050a15; */
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-left-bar{
        /* background: #050a15; */
        width: 15vw;
        height: 20vh;
        display: flex;
        max-width: 100px;
    }

    .textbox-inner{
        /* background: #050a15; */
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        padding: 40px 20px;
        max-width: 400px;
        width: 400px;
    }

    .left-text{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        color: white;
    }
   
}



/* LOADER
=================
=================
=================
=================
=================
=================
=================
 */

 .load-img{
     margin-left: 2px; 
     width: 15px;
     height: 20px;
 }

 .load-text{
    margin-left: 2px; 
    width: 15px;
    height: 20px;
 }

 .load {
    position:absolute;
    top:calc(50% - 30px);
    left:calc(50% - 30px);
    width:70px;
    height:70px;
    opacity: 0;
    animation: turnOff 5s ease-in-out 1;
}


.block {
    position:relative;
    height:20px;
    width:20px;
    display:inline-block;
    background:#0f1e3e;
    transition:all 0.8s;
    animation: rot 5s linear infinite;
}

.block2 {
    position:relative;
    height:20px;
    width:20px;
    display:inline-block;
    background: transparent !important;
    transition: all 0.8s;
    animation-delay: 4s;
    animation: rot2 5s linear infinite;
}
.block:nth-child(1) {
    animation-delay:3s;
}
.block:nth-child(2) {
    animation-delay:1.5s;
    animation: rot 15s linear infinite;
}
.block:nth-child(3) {
    animation-delay:2s;
}
.block:nth-child(4) {
    animation-delay:0.2s;
}
.block:nth-child(5) {
    animation-delay:4s;
    background: transparent !important;
}
.block:nth-child(6) {
    animation-delay:2s;
    animation: rot 7s linear infinite;
}
.block:nth-child(7) {
    animation-delay:0.4s;
}
.block:nth-child(8) {
    animation-delay:1.5s;
    animation: rot 6s linear infinite;
}
.block:nth-child(9) {
    animation-delay:25s;
    animation: rot 8s linear infinite;
}

@keyframes rot {
    0% {
        transform:none;
    }
    20% {
        transform:rotateZ(-90deg) rotateY(180deg);
    }
    40% {
        background:#183167;
        transform:none;
    }
    60% {
        background:#224591;
    }
    80% {
        background:#2c59ba;
    }
    90% {
        transform:none;
        background:#4572d3;
    }
}
@keyframes rot2 {
    0% {
        transform:none;
    }
    20% {
        transform:rotateZ(-90deg) rotateY(180deg);
    }
    40% {
        transform:none;
    }
    90% {
        transform:none;
        
    }
}
@keyframes turnOff {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}